$blue-light:rgb(207, 239, 247); 
$blue-dark:rgb(6, 167, 241);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: blue;
}

#btn-change-background{
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: bold;
    background: $blue-light;
    color: $blue-dark;
    padding: 0.5rem 2rem;
    box-shadow: -2px 2px 6px rgb(202, 201, 201);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    &:hover{
        color: $blue-light;
        background: $blue-dark;
    }
}